header {
  text-align: center;
}

#featured-property figure {
  text-align: center;
}

figcaption {
  font-size: 12px;
}

nav a {
  background-color: pink;
  padding-left: 10px;
  padding-right: 10px;
}

#featured-property p {
  width:800px;
  text-align: center;
  margin: 0 auto;
}

#details {
  margin-top: 20px;
}

#details div{
  display: block;
  float: left;
  background-color: #FF326E;
  width: 25%;
  text-align: center;
}
